@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800;900&display=swap');

:root {
    --primary-color: #1FAAA7;
    --primary-colors: #117166;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    height: 8rem;
    padding: 2rem 0 0 16rem;
    font-size: 4rem;
    font-weight: 900;
    color: var(--primary-colors);
    width: 100%;
}

main {
    margin: 0 16rem;
}


main .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding-bottom: 2vh;
}

main .home .greet {
    width: 50%;
}

main .home .greet-hello {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

main .home .greet-name {
    font-size: 8rem;
    font-weight: 800;
}

main .home .greet-content {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0.8;
}

main .greet button {
    margin-top: 2rem;
    width: 16rem;
    height: 5rem;
    background-color: #1FAAA7;
    border: none;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

main .home .group-img {
    width: 50%;
}

main .home .group-img img {
    width: 100%;
    border-radius: 12rem 12rem 0 0;
    box-shadow: 5px 10px 15px rgba(0,0,0,.2);
}

main .container .title{
    padding-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
}

main .container .member-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .container .member {
    width: 46%;
    height: 20rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 8rem;
    border-radius: 2rem;
}

main .container .img-member{
    width: 44%;
}

main .container .img-member img {
    height:100%;
}

main .container .member .content {
    width: 48%;
}

main .container .member .content>div {
    height:12rem;
}

main .container .content .name-member{
    font-size: 2.4rem;
    font-weight: 500;
    margin: 1rem 0;
}

main .container .content .msv-member {
    font-size: 1.6rem;
    opacity: .9;
}

main .container .content .lead-member {
    font-size: 1.6rem;
    font-weight: 500;
}


main .container .content a {
    font-size: 1.6rem;
    color: var(--primary-color);
}